<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Jan's Games Library</title>

    <style>
        :root {
            --game-row-height: 30px;
        }

        .game-rows {
            width: 100%;
            max-width: 800px;
        }

        .game-row {
            height: var(--game-row-height);
        }

        .game-column-icon img {
            height: var(--game-row-height);
        }
    </style>
</head>

<body>
<table class="game-rows">
    <thead>
    <tr>
        <td>Title</td>
        <td>Playtime</td>
        <td>Platform</td>
        <td>Installed?</td>
        <td>Favorite?</td>
        <td>Couch Coop?</td>
        <td>Genres</td>
        <td>Community Score</td>
        <td>Critic Score</td>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr class="game-row">
            <td class="game-column game-column-name">{{ game.name }}</td>
            <td class="game-column game-column-playtime">
                <time datetime="PT{{ game.playtime.inHours }}H">
                    {% if game.playtime.inHours > 0 %}
                        {{ game.playtime.inHours }} h
                    {% endif %}
                </time>
            </td>
            <td class="game-column game-column-icon"><img src="../{{ game.platform.iconPath }}" alt="{{ game.platform.name }}" title="{{ game.platform.name }}"/></td>
            <td class="game-column game-column-installed">{{ game.isInstalled ? "🎮" }}</td>
            <td class="game-column game-column-favorite">{{ game.isFavorite ? "⭐️" }}</td>
            <td class="game-column game-column-couch-coop">{{ game.isCouchCoopGame ? "🤝" }}</td>
            <td class="game-column game-column-genres">
                <ul>
                    {% for genre in game.genres %}
                        <li>{{ genre.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td class="game-column game-column-community-score">{{ game.communityScore.value }}</td>
            <td class="game-column game-column-critic-score">{{ game.criticScore.value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>